<div class="center jumbotron">
<%= image_tag 'logo.png', :size => '450x300' %></div>
<div class="text-center">
  <h1>About</h1>
  <p>
    railstutorial第6版や、他のサイトを参照に制作した
  <br>
    記事投稿サイトです。
  </p>
</div>