<div class="center jumbotron">
<%= image_tag 'logo.png', :size => '450x300' %>
</div>
  <h1 class="text-center">ようこそstarsへ</h1>
  <div class="col text-center"><%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %></div>