@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

header {
  background-color: #8b4513;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0;
  padding-top: 9px;
  font-family: cursive;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#btn-right {
  color: white;
  &:hover {
    color: black;
  }
}


/* footer */

footer {
  background-color: #8b4513;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

h1 {
  margin: 70px 0;
}