<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "stars", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right" >
        <li><%= link_to "Home", '#', id: "btn-right" %></li>
        <li><%= link_to "Sign Up", '#', id: "btn-right" %></li>
        <li><%= link_to "Log in", '#', id: "btn-right" %></li>
      </ul>
    </nav>
  </div>
</header>